@set card {
    .card {
        /* background: red; */
        min-width: 138dip;
        /* height: 207dip; */
        border-radius: 8dip;
        cursor: pointer;
        width: 0.2*;
    }
    
    .card-body {
        position: relative;
        /* size: *; */
        border-radius: 8dip;
        /* overflow: hidden; */
        /* cursor: pointer */
    }
    
    .card .card-body:hover .daily {
        display: block
    }
    
    .card .card-body:hover .play {
        display: block
    }
    
    .card .card-body .daily {
        position: absolute;
        display: none;
        padding: 5dip;
        width: *;
        line-height: 1.5em;
        background-color: rgba(0, 0, 0, .8);
        font-size: 12px;
        color: #fff;
        border-radius: 8dip 8dip 0 0;
    }
    
    .card .card-body .play-count {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 12px;
        color: #fff
    }
    
    picture{
        width: *;
        height: width(100%);
        image-rendering: optimize-speed;
        /* width: 207dip; */
        border-radius: 8dip;
        /* height: 100dip; */
    }
    
    .card .card-body .play {
        position: absolute;
        bottom: 8px;
        right: 8px;
        display: none;
        color: #fff
    }
    
    .card p {
        color: #333;
        line-height: 2.5;
        cursor: pointer
    }
}